.footer {
    background-color: #1F4484;
    font-family: helvetica,arial,sans-serif;
}
.footer a:hover {
    text-decoration: underline;
}
.footer ul, li {
    list-style: none;
    margin-top: 0;
    margin-left: 0; 
    padding-left: 0;
}
.footer li {
    padding-bottom: 3px;
    padding-top: 3px;
}
/*footer-links*/
.footer li a {
    color: #ecf0f1;
    font-size: 12px; 
    text-decoration: none;
}
.item-header, .item-header a {
    color: #ecf0f1;
    font-size: 16px;    
    text-decoration: none;
    padding: 10px 0px;
}
